# files that will always have CRLF line endings on checkout
* text=auto

# don't change binary files
*.psd binary
*.xcf binary
*.ico binary
*.png binary
*.jpg binary
*.gif binary
*.SLDPRT binary
*.SLDASM binary
*.dll

