<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HackPDM.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HackPDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HackPDM.Properties.UserSettings>
            <setting name="usetWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="usetProfiles" serializeAs="String">
                <value />
            </setting>
            <setting name="usetColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>300</string>
                        <string>75</string>
                        <string>120</string>
                        <string>60</string>
                        <string>120</string>
                        <string>120</string>
                        <string>120</string>
                        <string>140</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="usetDefaultProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="usetShowDeleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usetWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="usetWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="usetSplitter2Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usetSplitter1Distance" serializeAs="String">
                <value>0</value>
            </setting>
        </HackPDM.Properties.UserSettings>
        <HackPDM.Properties.Settings>
            <setting name="usetWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="usetProfiles" serializeAs="String">
                <value />
            </setting>
            <setting name="usetDefaultProfile" serializeAs="String">
                <value />
            </setting>
        </HackPDM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
