<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HackPDM.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HackPDM.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HackPDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <HackPDM.Properties.AppSettings>
      <setting name="OdooCredentialTarget" serializeAs="String">
        <value>HackPDM-OdooUser</value>
      </setting>
      <setting name="SwLicenseKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AreaFactor" serializeAs="String">
        <value>2.75</value>
      </setting>
      <setting name="MeasureByteSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="MeasureFileSize" serializeAs="String">
        <value>KiloByte</value>
      </setting>
      <setting name="FileSizeMult" serializeAs="String">
        <value>1</value>
      </setting>
    </HackPDM.Properties.AppSettings>
    <HackPDM.Properties.UserSettings>
      <setting name="usetShowDeleted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OdooUrl" serializeAs="String">
        <value>http://10.0.0.68:8069</value>
      </setting>
      <setting name="OdooDb" serializeAs="String">
        <value>odoopdm</value>
      </setting>
      <setting name="usetWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="usetProfiles" serializeAs="String">
        <value>&lt;DocumentElement&gt;
  &lt;profiles&gt;
    &lt;PfGuid&gt;71fa2431-ceaf-4147-86e4-0c971edf14cb&lt;/PfGuid&gt;
    &lt;PfName&gt;New&lt;/PfName&gt;
    &lt;DbServ&gt;hackpdm.zip.azi&lt;/DbServ&gt;
    &lt;DbPort&gt;5432&lt;/DbPort&gt;
    &lt;DbUser&gt;hackpdm&lt;/DbUser&gt;
    &lt;DbPass&gt;hackpdm&lt;/DbPass&gt;
    &lt;DbName&gt;hackpdm&lt;/DbName&gt;
    &lt;DavServ&gt;http://hackpdm.zip.azi&lt;/DavServ&gt;
    &lt;DavPort&gt;80&lt;/DavPort&gt;
    &lt;DavUser /&gt;
    &lt;DavPass /&gt;
    &lt;DavPath&gt;/webdav&lt;/DavPath&gt;
    &lt;FsRoot&gt;C:\Users\jnjohnson\Documents\dev\hackpdm\HackPDM_CSharp\pwa&lt;/FsRoot&gt;
    &lt;Username&gt;mtaylor&lt;/Username&gt;
    &lt;Password&gt;matt&lt;/Password&gt;
  &lt;/profiles&gt;
&lt;/DocumentElement&gt;</value>
      </setting>
      <setting name="usetColumnWidths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>655</string>
            <string>75</string>
            <string>120</string>
            <string>60</string>
            <string>120</string>
            <string>120</string>
            <string>120</string>
            <string>140</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="usetDefaultProfile" serializeAs="String">
        <value>71fa2431-ceaf-4147-86e4-0c971edf14cb</value>
      </setting>
      <setting name="usetWindowSize" serializeAs="String">
        <value>1874, 1096</value>
      </setting>
      <setting name="usetWindowLocation" serializeAs="String">
        <value>54, -8</value>
      </setting>
      <setting name="usetSplitter2Distance" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="usetSplitter1Distance" serializeAs="String">
        <value>757</value>
      </setting>
      <setting name="usetLv1SortColumn" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="usetLv1SortOrder" serializeAs="String">
        <value>Ascending</value>
      </setting>
      <setting name="DownloadBatchSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HistoryLengthSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SkipText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PWAPathAbsolute" serializeAs="String">
        <value>C:\Users\jnjohnson\Documents\dev\hackpdm\HackPDM_CSharp\pwa</value>
      </setting>
      <setting name="PWAPathRelative" serializeAs="String">
        <value>pwa</value>
      </setting>
      <setting name="ProjectDirectory" serializeAs="String">
        <value>C:\Users\jnjohnson\Documents\dev\hackpdm\HackPDM_CSharp</value>
      </setting>
      <setting name="OdooAddress" serializeAs="String">
        <value>10.0.0.68</value>
      </setting>
      <setting name="OdooPort" serializeAs="String">
        <value>8069</value>
      </setting>
      <setting name="TemporaryPath" serializeAs="String">
        <value>C:\Users\jnjohnson\AppData\Local\Temp\HackPDM</value>
      </setting>
    </HackPDM.Properties.UserSettings>
    <HackPDM.Properties.Settings>
      <setting name="usetWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="usetProfiles" serializeAs="String">
        <value />
      </setting>
      <setting name="usetDefaultProfile" serializeAs="String">
        <value />
      </setting>
    </HackPDM.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Testing.Platform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>