<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <HackPDM.Properties.UserSettings>
            <setting name="usetWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="usetProfiles" serializeAs="String">
                <value>&lt;DocumentElement&gt;
  &lt;profiles&gt;
    &lt;PfGuid&gt;71fa2431-ceaf-4147-86e4-0c971edf14cb&lt;/PfGuid&gt;
    &lt;PfName&gt;New&lt;/PfName&gt;
    &lt;DbServ&gt;hackpdm.zip.azi&lt;/DbServ&gt;
    &lt;DbPort&gt;5432&lt;/DbPort&gt;
    &lt;DbUser&gt;hackpdm&lt;/DbUser&gt;
    &lt;DbPass&gt;hackpdm&lt;/DbPass&gt;
    &lt;DbName&gt;hackpdm&lt;/DbName&gt;
    &lt;DavServ&gt;http://hackpdm.zip.azi&lt;/DavServ&gt;
    &lt;DavPort&gt;80&lt;/DavPort&gt;
    &lt;DavUser /&gt;
    &lt;DavPass /&gt;
    &lt;DavPath&gt;/webdav&lt;/DavPath&gt;
    &lt;FsRoot&gt;C:\Users\jnjohnson\Documents\dev\hackpdm\HackPDM_CSharp\pwa&lt;/FsRoot&gt;
    &lt;Username&gt;mtaylor&lt;/Username&gt;
    &lt;Password&gt;mtaylor&lt;/Password&gt;
  &lt;/profiles&gt;
&lt;/DocumentElement&gt;</value>
            </setting>
            <setting name="usetColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>655</string>
                        <string>75</string>
                        <string>120</string>
                        <string>60</string>
                        <string>120</string>
                        <string>120</string>
                        <string>120</string>
                        <string>140</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="usetDefaultProfile" serializeAs="String">
                <value>71fa2431-ceaf-4147-86e4-0c971edf14cb</value>
            </setting>
            <setting name="usetShowDeleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usetWindowSize" serializeAs="String">
                <value>1874, 1096</value>
            </setting>
            <setting name="usetWindowLocation" serializeAs="String">
                <value>54, -8</value>
            </setting>
            <setting name="usetSplitter2Distance" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="usetSplitter1Distance" serializeAs="String">
                <value>757</value>
            </setting>
            <setting name="usetLv1SortColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="usetLv1SortOrder" serializeAs="String">
                <value>Ascending</value>
            </setting>
        </HackPDM.Properties.UserSettings>
    </userSettings>
</configuration>